*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.cv {
    display: flex;
    min-height:100vh;
}

.sidebar{
    width:33%;
    background-color: #003b4d;
    color: white;
}

.main-content{
    width:67%;
    padding: 30px;

}

.profile{
    text-aligin: center;
}

.profile img{
    width:130px;
    height:130px;
    border-radius: 50%;
    object-fit: cover;
}

.profile h2 {
    font-size: 18px;
    margin: 15px 0 10px;
}

.profile p{
    font-size: 17px;
    margin: 0;
}

.profile hr{
    border:none;
    border-top: 1px solid #35616d;
    margin:20px 0;
}

.sidebar h2 {
    font-size: 20px;
    font-weight: normal;
}

.sidebar p{
    font-size: 13px;
    margin: 12px 0;
}

.sidebar ul{
    list-style: none;
    padding: 0;

}

.sidebar li{
    font-size: 12px;
    margin-bottom: 12px;
}

